body {
    background-image: url('../img/body.jpg');
    background-size: cover;       /* Garante que a imagem cubra toda a área */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh;                /* Define a altura do body para 100% da viewport */
    margin: 0; 
    padding: 0;  
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */ 
 }


#t-info{
    /*background:rgb(215 199 199 / 64%);
    border: aliceblue 1px solid;
    border-radius: 15px;
    */
    width: 85vw;
    height: 80vh;
    display: flex; 
}


#t-logo{
     height: 100%;
    width: 100%;
    background-image: url('../img/logo.png');
    background-size: 60%; /* Largura e altura ajustadas para 50% do tamanho original */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */ 
 }
#t-dados
{
    height: 100%;
    width: 100%;
}

button{
    background: none;
    border: aliceblue 1px solid;
    color: aliceblue;
    border-radius: 15px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    background:aliceblue;
    color: rgb(159, 121, 121);
}

#t-btn-dados{
    display: flex;
    margin: auto;
    width: 50%;
    height: 50%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15%;
    
}
 
@media only screen and (max-width: 767px) {
    #t-info {
        width: 85vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    button { 
        margin-bottom: 10px;
        padding: 5px;
    }
}